# macOS metadata
._*
.DS_Store

# Python virtual environment
venv/
__pycache__/
*.pyc

.claude/

# Extra Virtual Environments
build_venv/

# Application Logs
*.log

# PyInstaller Outputs
build/
dist/
*.spec

# Portable Binaries
.bin/

# Application builds
*.app/
*.exe
*.dmg
*.zip

# Temporary/Old Files
make_pdf.py
Oligool_and_Primerool_Features.md

