# macOS metadata
._*
.DS_Store

# Python virtual environment
venv/
__pycache__/
*.pyc

.claude/

# Extra Virtual Environments
build_venv/

# Application Logs
*.log

# PyInstaller Outputs
build/
dist/
